*{
    margin: 0;
    box-sizing: border-box;
}

body{

    /*display: flex; /* Adicionado display: flex para usar flexbox 
    flex-direction: column; /* Organizar o conteúdo em uma coluna 
    min-height: 100vh; /* Garantir que o corpo ocupe pelo menos a altura da janela 
    font-family: 'Arial', sans-serif;
    background-image: url("img/gradiente.png"); */

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("img/gradiente.png");
    background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
    background-position: right center; /* Coloca a imagem no meio verticalmente e à direita */
    background-size: auto; /* Define o tamanho da imagem de acordo com seu tamanho original */
    font-family: 'Arial', sans-serif;

}

header{
    width: 100%;
    font-size: 23px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    width: 100%;
}

.teste{
    list-style-type: none;
    text-decoration: none;
}

a:hover{
    color:#004aad;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 91px;
    list-style-type: none;

}

a { 
    color: inherit; 
} 

section{
    width: 100%;
    height: 774px;
    display: flex;
    flex-direction: row;
    
}

.pai{
    display:flex;
    justify-content: space-around;
    
}

.home{

    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    
   
}

.home h2{
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    margin-left: 50px;
}

.home h3{
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    margin-left: 50px;
    color: #004aad;
}

.home h3,
.home p {
    margin-bottom: 35px; /* Espaçamento entre h3 e p */
}

.home p.saibaMais {
    margin-top: 50px; /* Espaçamento acima do p com classe .saibaMais */
}

.home p{
    font-size: 25px;
    padding: 25px;
    margin-left: 50px;
}

.saibaMais{
    background-color: #004aad;
    border-radius: 30px;
    width: 25%;
    color: aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    cursor: pointer;
}

.imagem1{
    width: 37%;
    display: flex;
    height: auto;
    justify-content: center;
/*     background-color: #004aad; */
    padding: 20px;
    margin-right: 10px;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #004aad;
    /*position: absolute;
    bottom: 0;*/
    align-items: center; /* Para centralizar verticalmente os itens no rodapé */
    padding: 0 15px;
}

.midias{
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.midias img {
    margin: 0 5px; /* Adicionado margin para espaçamento entre ícones */
}


.rede{
    color: aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-right: 20px;
}

.desenvolvedor{
    margin-right: 15px;
    color: aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 40px;
}

footer p{
    font-size: 19px;
}



/*Diferencias*/


.diferencias{
    display: flex;
    justify-content:space-around;
    width: 100%;
    height: 80vh;
    align-items: center;
    background-image: url("img/gradiente.png");
    box-sizing: border-box;
}

.beneficios{
    width: 48%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.benTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.benTitle h2{
    font-size: 44px;
    color: #004aad;
}

.benTitle h2, p{
    margin-bottom: 30px;
}

.benTitle p{
    font-size: 22px;
}

.benText {
    border: 3px black solid;

    border-radius: 30px;
    width: 70%;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: disc; 
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


/* benText*/
.benText ul{
    padding: 10px 50px;
    border-radius: 30px;
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: disc; 
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.planos{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

}

.planosTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.planosTitle h2{
    font-size: 44px;
    color: #004aad;
}

.planosTitle h2, p{
    margin-bottom: 30px;
}

.planosTitle p{
    font-size: 22px;
}


/* PlanosText*/

.planosText{
   
    border: 3px rgb(0, 0, 0) solid;
    padding: 10px 50px;
    border-radius: 30px;
    width: 70%;
    height: 330PX;
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: disc; 
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.planosText ul{
   
  
    padding: 10px 50px;
    border-radius: 30px;
  
    height: 330PX;
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: disc; 
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/*Area externa*/


section.area {
    display: flex;
    flex-direction:column;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    flex: 1;
    height: 700px;
}

.areaExterna{
    /*display: flex;
    align-items: center;
    text-align: center;*/
    width: 100%;
    max-width: 1670px;
    display: flex;
    flex-direction: column; 
    margin-top: 20px;
    gap: 5%;
}

.areaExterna h3{
    color: #004aad;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.item img {
    width: 45%;
    height: auto;
    border-radius: 10px;
}

.item p{
    margin-left: 20px;
}


.contato {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.informacoes {
    width: 45%;
}

.informacoes h3 {
    font-size: 25px;
    color: #004aad;
    margin-top: -254px;

}

.informacoes ul {

    margin-top: 70px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:start;
    list-style-type: disc;
    margin-left: 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.formulario {
    width: 45%;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario h3 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #004aad;
}

.formulario label {
    font-size: 20px;
    color: #004aad;
    display: block;
    margin-bottom: 5px;
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #004aad;
    border-radius: 10px;
    background: linear-gradient(to right, #004aad, #00aaff);
    color: white;
    font-size: 18px;
}

.formulario .planos-box {
    background: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.formulario .planos-box ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.formulario button {
    background-color: #004aad;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.envio{
    position: relative;
    left: 45%;
}

.espaco{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 600px;
    margin-top: 40px;
}
